/* reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* variables */
:root {
    --infobox-border: 4px solid lightgrey;
    --infobox-border-color: lightgrey;
    --infobox-header-bgcolor: #333;
    --infobox-header-txtcolor: white;
    --infobox-header-padding: 20px;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* navbar */
.navbar-wrapper {
    background-color: black;
    display: flex;
    color: white;
}

.navbar-container {
    width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin-right: 10px;
}

.title-links-container {
    display: flex;
}

.nav-links li {
    display: inline-flex;
    padding: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.btn {
    padding: 5px;
    color: #fff;
    background-color: #14A2B8;
    border: 1px solid #14A2B8;
    font-size: 1em;
}

/* page body */
.body-container {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    margin-top: 20px;
}

/* body container */
.profile-container {
    flex: 1;
    margin-right: 30px;
}

.sidebar-container {
    flex: .5;
}

/* profile card */
.card-container {
    width: 100%;
    border: 4px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #14A2B8;
    height: 90px;
    margin-bottom: 35px;
}

.profilepic-m {
    border-radius: 50%;
    height: 120PX;
    margin-top: 20px;
    margin-left: 20px;
    border: 4px solid white;
}

.card-body {
    padding: 20px;
}

.card-body h1,
.card-body h3,
.card-body p {
    margin: 10px 0px;
}

.card-body a {
    color: #2B77E4;
}
.icon-s {
    height: 20px;
    margin-right: 5px;
}

/* profile information box */
.infobox {
    width: 100%;
    border: var(--infobox-border);
    border-radius: 5px;
}

.infobox-header {
    background-color: var(--infobox-header-bgcolor);
    color: var(--infobox-header-txtcolor);
    padding: var(--infobox-header-padding);
}

.infobox-body {
    padding: 20px;
}

.date {
    color: grey;
    margin-bottom: 10px;
}

/* sidebar information box */
.sidebar-infobox {
    border: var(--infobox-border);
    border-radius: 5px;
    margin-bottom: 20px;
}

.infobox-header-container {
    display: inline-flex;
    align-content: center;
    width: 100%;
    background-color: var(--infobox-header-bgcolor);
    color: var(--infobox-header-txtcolor);
}

.infobox-header-icon-s {
    height: 16px;
    width: 16px;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 14px;
    color: #000;
    margin: 10px 0px 10px 10px;
    padding: 5px;
}

.infobox-header-icon-m {
    height: 16px;
    width: auto;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 14px;
    color: #000;
    margin: 10px 0px 10px 10px;
    padding: 5px;
}

.infobox-header-text {
    margin: 10px;
}

.conection-profile-container {
    display: flex;
    justify-content: space-between;
}

.connection-profile-info {
    display: flex;
    align-items: center;
}

.profilepic-s {
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.accept-deny-circle {
    height: 40px;
}

.view-more {
    border-top: 4px solid var(--infobox-border-color);
    padding: 10px;
}

.view-more a {
    color: #2B77E4;
    margin-left: 10px;
}